@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


#nav-bar-wrapper{
    width: 60%;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#nav-bar{
    padding: 0 5em 0 5em;
    font-size: 10px;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    font-family: 'Roboto',sans-serif;
    border-radius: 20px;
    font-size: 16px;
    backdrop-filter: blur(5px);
    background-color: #6dc33098;
}

#app-name{
    font-size: 16px;
}

#nav-links{
    margin-left: 10em;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

#nav-links a{
    color: #252525;
    margin: 20px;
    font-family: 'Roboto',sans-serif;
}

#nav-links a:visited{
    color: none;
    text-decoration: none;
}

#profile-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-details{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 5px solid rgba(0, 0, 0, 0.501);
}

#profile-details a{
    margin: 0;
}

#profile-dropdown{
    flex: 1;
    width: auto;
    position: absolute;
    background-color: rgba(255, 183, 0);
    border-radius: 20px;
    top: 90%;
    box-shadow: 0px 10px 40px -20px black;
    opacity: 0;
    display: none;
    transition: display 0.5s ease-in-out,opacity 0.5s ease-in-out;
}

#profile-wrapper:hover #profile-dropdown{
    opacity: 1;
    display: flex;
}

#signup a:visited{
    color: black;
    text-decoration: none;
}
